.Gradient {
  height: 100vh;
}
.colorPicker {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colorPicker h3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.colorPicker-btn {
  display: flex;
  gap: 1rem;
}
.colorPicker-btn input {
  border: none;
}
.GradientColorSpace {
  margin: 0 auto;
  height: 15rem;
  width: 30rem;
  border: 0.1rem solid black;
}
.generate {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Generate-btn {
  margin: 1rem;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
svg {
  padding: 0 0.3rem;
  color: #000000;
}

button:hover {
  transform: scale(1.1);
}
.staticButton {
  position: absolute;
  right: 5rem;
  bottom: 2rem;
}
.staticButton button {
  border: none;
}
.staticButton button a {
  color: #fff;
  border-radius: 1rem;
  text-decoration: none;
}

.GradientGenerateBtn,
.StaticBtn {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem 0.7rem;
  color: #fff;
  border: none;
  background-color: #dbd44e;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
